<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"%>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"%>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcuex_L6_QVRzL4fV-gU3fNdM9kUjOWzI">
 </script>
 
</head>
<body>
<div class="container">
<%= link_to "Travel", root_path, class: "navbar-brand" %>
</div>
<div class="container">

    <%= yield %>

    <%= link_to "About", about_path %>

</div>
</body>
</html>
